section .container-table-artists {
  background-color: #14151D;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section .container-table-artists .table { 
  margin-top: 20px;
  background-color: #14151D;
}

section .actions {
  width: 160px;
}

.my-custom-scrollbar {
  position: relative;
  height: 340px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

section .container-table-artists .table .button-action { 
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18px;
}

.img_artist {
  width: 60px;
  height: 60px;
}

section .button-action {
  margin: 5px;
}

section .button-action:hover { 
  text-decoration: none;
}

section .container-form {
  background-color: #14151D;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container-form form label {
  color: #FFF;
  font-size: 18px;
}

section .container-form .container-form-button { 
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

section .container-form .container-form-button button { 
  background-color: #F96332;
  width: 30%;
  font-weight: bold;
  border: 0;
}

#img_artist_view {
  width: 200px;
  height: 200px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1D1D31;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #1D1D31;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #141428;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #141428;
  color: white;
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}