html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D1D31;
  font-size: 14px;
  font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

/* HEADER STYLES */

nav {
  background-color: #141428;
}

nav .navbar-brand {
  text-transform: uppercase;
  font-size: .8571em;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1.625rem;
  color: white;
  margin-left: 5%;
  align-self: flex-start;
}

nav .menu {
  width: 100%;
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .navbar-collapse .menu li a { 
  color: #7D8583;
  font-weight: bold;
}

nav .navbar-collapse .menu li a:hover { 
  color: #1ABB9C;
}

nav .navbar-collapse .menu li a .active { 
  color: #1ABB9C;
}

nav .search-bar-container {
  background-color: #14151D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav .search-bar-container .search-bar {
  background-color: #14151D;
  border: 0px;
  font-weight: bold;
  padding: 5px;
}

nav .search-bar-container button { 
  background-color: transparent;
  border: 0px;
}

nav .search-bar-container button i { 
  color: #7D8583;
}


/* CONTENT STYLES */

.container {
  margin-top: 100px;
}

section .page-title {
  color: white;
}

section .tab-pages {
  margin-top: 30px;
  margin-left: 50px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .tab-pages a { 
  color: #7D8583;
  font-size: 22px;
}

section .tab-pages a:hover { 
  color: #FFF;
  text-decoration: none;
}

section .tab-pages .active {
  border-bottom: 2px solid #1ABB9C;
  color: #FFF;
}

section .container-overview {
  height: 400px;
  margin-top: 20px;
}

section .group-artists {
  background-color: #272128;
  height: 90%;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

section .group-artists .group-artists-header {
  width: 100%;
  height: 50%;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

section .group-artists .indicate-artists-image {
  width: 20%;
  height: 40%;
  border-radius: 5px;
  background-color: #141428;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
}

section .indicate-artists-image i {
  color: #FFF;
  font-size: 30px;
}

section .group-artists .indicate-artists-info {
  margin-left: 15px;
}

section .group-artists .indicate-artists-info h5 {
  color: #FFF;
  font-size: 28px;
}

section .group-artists .indicate-artists-info p { 
  color: #FFF;
  font-size: 12px;
}

section .group-artists-new {
  color:  #FFF;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

section .group-artists-new a { 
  text-decoration: none;
  color: #FFF;
}

section .group-artists .shortcut-create-artist {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 0;
  background-color: #7159C1;
  align-self: flex-end;
  margin-right: 20px;
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  font-size: 15px;
}

section .group-artists .shortcut-create-artist i { 
  color: #FFF;

}

section .group-albuns { 
  background-color: #7159C1;
  height: 40%;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .group-albuns-statics { 
  height: 45%;
  margin-top: 15px;
  background-color: #7D8583;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

section .group-albuns-statics i { 
  font-size: 50px;
  color: #FFF;
  margin-right: 20px;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
}

section .indicate-albuns-info {
  color: #FFF;
}

section .group-albuns a {
  width: 100%;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .group-albuns a:hover {
  text-decoration: none;
}

section .group-albuns .shortcut-create-album {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 0;
  background-color: white;
  align-self: flex-end;
  margin-right: 20px;
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.75);
  font-size: 15px;
}

section .group-albuns .shortcut-create-album i { 
  color: #7159C1;
}


/* MEDIA QUERY */

@media(max-width: 1200px) { 

  nav .search-bar-container {
    display: none;
  }

  section .tab-pages a {
    font-size: 24px;
    margin: 10px;
  }

  section .indicate-artists-image i {
    color: white;
    font-size: 15px;
  }

  section .group-artists-new { 
    font-size: 14px;
  }

  section .group-albuns a { 
    font-size: 14px;
  }
}


@media(max-width: 960px) { 

  section .tab-pages a {
    font-size: 18px;
    margin: 10px;
  }

}

@media(max-width: 800px) { 

  nav .menu {
    margin-left: 0; 
  }

}
